DATABASE_URL="file:./dev.db"

NEXTAUTH_SECRET="ijeirpiuew8392rh9338reu2h0298fhuefh983p10dioqejbdiy18391dub38d3ueu" // This should be a long, random string in production. You can generate one using `openssl rand -base64 32` or a similar command.
NEXTAUTH_URL="http://localhost:3000"